@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title text-center"
         
         >
        <h3>@T("Account.PasswordRecovery")</h3>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result alert alert-success my-3">
                @Model.Result
            </div>
        }
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                <div class="form-fields form-group">
                    <div class="inputs">
                        <label class="col-form-label" asp-for="Email" asp-postfix=":"></label>
                        <nop-required />
                        <input asp-for="Email" class="email form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <div class="captcha-box">
                        <nop-captcha />
                    </div>
                }
            </div>
            <div class="buttons my-3">
                <button type="submit" name="send-email" class="btn btn-primary password-recovery-button">
                    @T("Account.PasswordRecovery.RecoverButton")
                </button>
            </div>
        </form>
    </div>
</div>