@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
    //page class
    Html.AppendPageCssClassParts("html-store-closed-page");
}
<div class="page store-closed-page">
    <div class="page-title">
        <h2>@T("StoreClosed")</h2>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>
