@model Nop4you.Plugin.Widgets.SwiperSlider.Models.SlideConfigurationModel
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Events;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;

<div class="animation-delay-slides">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("nop4you.widget.swiperslider.animations.header")</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="HeaderAnimation" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="HeaderAnimation" asp-items="Model.AnimationTypes" />
                        <span asp-validation-for="HeaderAnimation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="HeaderAnimationDelay" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="HeaderAnimationDelay" asp-items="Model.AnimationDelays" asp-postfix="s" />
                        <span asp-validation-for="HeaderAnimationDelay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("nop4you.widget.swiperslider.animations.body")</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BodyAnimation" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="BodyAnimation" asp-items="Model.AnimationTypes" />
                        <span asp-validation-for="BodyAnimation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="BodyAnimationDelay" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="BodyAnimationDelay" asp-items="Model.AnimationDelays" asp-postfix="s" />
                        <span asp-validation-for="BodyAnimationDelay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("nop4you.widget.swiperslider.animations.footer")</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FooterAnimation" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="FooterAnimation" asp-items="Model.AnimationTypes" />
                        <span asp-validation-for="FooterAnimation"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FooterAnimationDelay" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="FooterAnimationDelay" asp-items="Model.AnimationDelays" asp-postfix="s" />
                        <span asp-validation-for="FooterAnimationDelay"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
